mat-card {
  max-width: 400px;

  margin: 2em auto;

  text-align: center;
}

mat-form-field {
  display: block;
}

.btn-raised-button {
  background-color: #ff4300;
  color: #f5f5f5;
}

.btn-raised-button:disabled {
  background-color: #cccccc;
  color: #666666;
}
