.vizient-header {
  background: #ff4300;
  color: #f5f5f5;
}

.filler {
  flex: 1 1 auto;
}

.gap {
  margin-right: 20px;
}

.logo {
  display: flex;
  align-items: center;
  height: 25px;
  padding-right: 10px;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #cc3e00;

}
.app-name {
  font-size: 18px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.placeholder-text {
  font-size: 18px;
  display: flex;
  align-items: center;
}
