<mat-accordion>
<mat-expansion-panel   class="full-width" *ngFor="let item of list" (opened)="expandedPanel()" (closed)="closeExpanded()">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{item}}
    </mat-panel-title>
  </mat-expansion-panel-header>

    <div class="member-photos">
      <div class="member-avatar" *ngFor="let member of members">
        <div class="avatar-image" [ngStyle]="{'background-image': 'url(' + getMemberPhoto(member) + ')'}" matTooltip="{{ member.name }}"></div>
      </div>
    </div>

    <mat-action-row>
      <button mat-button color="primary">Next</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
