
<mat-card-header>
  <h2>{{selectedTeamName}}</h2>
</mat-card-header>


<div class="container">
  <div class="avatar" *ngFor="let member of members">
    <img src="/assets/images/avatar.png">
    <p>{{member.first_name}}  {{member.last_name}}<br>{{member.title}}</p>
  </div>
</div>

<mat-action-row>
  <div class="tooltip" matTooltip="Edit {{selectedTeamName}}">
    <button mat-button>
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <div class="tooltip" matTooltip="Archive {{selectedTeamName}}">
    <button mat-button>
      <mat-icon>archive</mat-icon>
    </button>
  </div>
</mat-action-row>

