<mat-card-header>
  <h2>{{ selectedTeam.name }}</h2>
</mat-card-header>

<div class="container">
  <div class="avatar" *ngFor="let member of members">

    <img src="/assets/images/avatar.png" />
    <p>
      {{ member.first_name }} {{ member.last_name }}<br />{{ member.job_title }}
    </p>
  </div>
</div>

<mat-action-row>
  <div class="tooltip" matTooltip="Edit {{ selectedTeam.name }}">
    <button mat-button>
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <div class="tooltip" matTooltip="Archive {{selectedTeam.name}">
    <button mat-button>
      <mat-icon>archive</mat-icon>
    </button>
  </div>
</mat-action-row>

