// This card is the RIGHT card that holds grid of the names. It floats on top of the main card container.
.card {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  // align-items:flex-start;
  // justify-content:left;
  // height: 100%;
  color: #455a64;
  box-shadow: none; //this removes line around bottom of card
}

team-name-header {
  color: #455a64;
  padding-bottom: 10px;
}
//This is the area that holds the 12 team members in a grid of 2 columns / 6 rows
.content-area {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(6, 4.75vw);
  grid-gap: 0;
  //   width: 100%;
  height: 78%;
  //   box-shadow: none;
  padding: 10px;
  //   background-color: pink;
}

//paragraph area with content
.member-info {
  display: inline-block;
  //width: 48px;
  font-size: 0.8em;
  text-size-adjust: auto;
}

//avatar
img {
  display: inline-block;
  vertical-align: top;
  height: 48px;
  padding-right: 1em;
  padding-bottom: 1em;
  //float: left;
}

// .mat-icon{
//   color: #455a64de;
// }

// .tooltip {
//   position: relative;
//   display: inline-block;
// }

// .tooltip:hover .tooltiptext {
//   visibility: visible;
// }

// .divider {
//   display: flex;
//   padding-bottom: 3em;;
// }

//.selectedteamheader  {
//padding-bottom: 10px;
//color: #455A64;
//padding-bottom: 10px;
//justify-content: left;
//}
