.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 30px;
}

.card {
  width: 45%;
  height: 550px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card mat-card {
  height: 100%;
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #455A64;
}

.left-container-header {
  color: #455A64;
}
