.main-container {
display: flex;
height: 100%;
}

.left-container {
  flex: 1;
  margin: 16px;
}

.right-container {
  flex: 1;
  margin: 16px;
}

.mat-card {
  height: 80vh;
  width: 41vw;
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
