<div class="main-container">
  <div class="card">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="left-container-header">Teams</mat-card-title>
      </mat-card-header>
      <mat-divider class="divider"></mat-divider>
      <mat-card-content class="content-area">
        <app-team-expansion-panel (isExpanded)="handleExpanded($event)"></app-team-expansion-panel>
      </mat-card-content>
      <mat-divider class="divider"></mat-divider>
        <mat-action-row>
          <div class="tooltip">
            <button mat-button>
              <mat-icon>add_box</mat-icon>
            </button>
          <span class="tooltiptext">Add Team</span>
          </div>
        </mat-action-row>
    </mat-card>
  </div>

  <div class="card">
    <mat-card>
      <app-team-info-container *ngIf="isExpanded"></app-team-info-container>
      <mat-card-content class="info-container" *ngIf="!isExpanded">Select a team member</mat-card-content>
    </mat-card>
  </div>
</div>
