.card {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  // align-items:flex-start;
  // justify-content:left;
  // height: 100%;
  // test color to find card: background-color: red;
}

.content-area {
  display: grid;
  // grid-template-columns: repeat(1, 2fr);
  grid-template-rows: repeat(1, 25vw);
  grid-gap: 0;
  padding: 5px;
}

// paragraph area with content
.member-information {
  display: inline-block;
  font-size: 20px;
  line-height: 1.6;
  padding-top: 100px;
}

mat-action-row {
  border: none;
  box-shadow: none;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.member-functions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  gap: 10px; // Optional: for some spacing between the buttons
}

.mat-icon {
  color: #455a64de;
}

img {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  width: 200px;
}
