.member-detail-header {
  display: flex;
}

.first-row {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 10px;
}

.second-row {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 10px;
  padding-bottom: 10px;
}

.member-photo {
  display: flex;
  border: 1px;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
