<div>
  <mat-card class="card">
    <mat-card-content class="content-area">
      <div *ngIf="member">
        <img src="assets/images/avatar.png" />
        <p class="member-information">
          {{ member.first_name }}&nbsp;{{ member.last_name }}
          <br />
          <!-- Need to add interpolation and code for member.email somehow so it will also appear -->
          {{ member.job_title }}
        </p>
      </div>
      <mat-action-row class="member-functions">
        <div class="tooltip" matTooltip="Edit ">
          <button mat-button (click)="editMemberDialog(selectedMember)">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <div class="tooltip" matTooltip="Archive ">
          <button mat-button (click)="archiveMember(selectedMember)">
            <mat-icon>archive</mat-icon>
          </button>
        </div>
      </mat-action-row>
    </mat-card-content>
  </mat-card>
</div>
