:host {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 10px;
}

.second-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 10px;
  padding-bottom: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
}
