<div>
  <form [formGroup]="memberForm" (ngSubmit)="saveDialog()" class="form">
    <div class="first-row">
      <mat-form-field>
        <input matInput placeholder="First Name" formControlName="first_name" />
        <mat-error *ngIf="memberForm.controls['first_name'].invalid">
          Please provide a First name.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Last Name" formControlName="last_name" />
        <mat-error *ngIf="memberForm.controls['last_name'].invalid">
          Please provide a Last name.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="second-row">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <mat-select formControlName="job_title">
          <mat-option value="Associate Software Engineer"
            >Associate Software Engineer</mat-option
          ><mat-option value="Software Engineer">Software Engineer</mat-option
          ><mat-option value="Senior Software Engineer"
            >Senior Software Engineer</mat-option
          >
          <mat-option value="Associate Quality Engineer"
            >Associate Quality Engineer</mat-option
          ><mat-option value="Quality Engineer">Quality Engineer</mat-option>
          <mat-option value="Senior Quality Engineer"
            >Senior Quality Engineer</mat-option
          >
        </mat-select>
        <mat-error *ngIf="memberForm.controls['job_title'].invalid">
          Please select a Title.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Team</mat-label>
        <mat-select formControlName="team">
          <mat-option *ngFor="let team of teams" [value]="team">
            {{ team.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="memberForm.controls['team'].invalid">
          Please select a Team.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="buttons" mat-dialog-actions>
      <button mat-button (click)="closeDialog()">Cancel</button>
      <button mat-button type="submit" [disabled]="memberForm.invalid">
        Submit
      </button>
    </div>
  </form>
</div>
